<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
my_string1 = 'Hola'
my_string2 = "Mundo"
print(my_string1 + ' ' + my_string2) # Imprime tres cadenas de caracteres concatenadas

Hola Mundo

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
my_int = 21
print(my_int) # Imprime el valor de la variable my_int
print(type(my_int)) # Imprime el tipo de dato de la variable my_int, en este caso, int

21
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
my_string = "21"
print(type(my_string)) # Imprime el tipo de dato de la variable my_string, en este caso, str
my_int = int(my_string) # Convierte el tipo de dato de la variable my_string a entero (int) y lo asigna a la variable my_int
print(type(my_int)) # Imprime el tipo de dato de la variable my_int, en este caso, int

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
my_string = "21"
my_float = float(my_string) # Convierte el tipo de dato de la variable my_string a flotante (float) y lo asigna a la variable my_float
print(type(my_float)) # Imprime el tipo de dato de la variable my_float, en este caso, float

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
my_bool = True
print(my_bool) # Imprime el valor de la variable my_bool
print(type(my_bool)) # Imprime el tipo de dato de la variable my_bool, en este caso, bool

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
print("Addition ", 0+1) # Imprime una cadena de caracteres concatenada con el resultado de una suma
print("Subtraction ", 2-3) # Imprime una cadena de caracteres concatenada con el resultado de una resta
print("Multiplication ", 4*5) # Imprime una cadena de caracteres concatenada con el resultado de una multiplicacion
print("Division ", 6/7) # Imprime una cadena de caracteres concatenada con el resultado de una division
print('Exponent', 8**9) # Imprime una cadena de caracteres concatenada con el resultado de una potencia

Addition  1
Subtraction  -1
Multiplication  20
Division  0.8571428571428571
Exponent 134217728

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
print(1/2) # Imprime el resultado de una division entre dos enteros
print(3.0/4) # Imprime el resultado de una division entre un flotante y un entero

0.5
0.75

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [3]:
my_list = ['Hola', 'Mundo']#, 4,5,6] Se asignan valores a la lista, separados por comas, dentro de los corchetes
print(my_list) # Imprime los valores de la lista my_list

['Hola', 'Mundo']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [15]:
my_list = ['Hola', 'Mundo', 4,5,6] # Se asignan valores a la lista, separados por comas, dentro de los corchetes
print(len(my_list)) # Imprime la longitud de la lista my_list, en este caso, 5
print(my_list[1]) # Imprime el elemento de la lista que esta en la posicion 1, es decir, el segundo elemento, 'Mundo'
print(my_list[len(my_list) -2]) # Imprime el elemento de la lista que esta en la posicion de la longitud de la misma, sustraido dos, es decir, en la posicion 3, el penultimo elemento

5
Mundo
5

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [6]:
my_list = ['Hola','Mundo',4,5,6] # Se asignan valores a la lista, separados por comas, dentro de los corchetes
my_list[2] = 'Adios' # Se cambia el valor de la posicion 2 en la lista, es decir, cambia el 4 por 'Adios'
print(my_list) # Imprime los valores de la lista my_list

['Hola', 'Mundo', 'Adios', 5, 6]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [11]:
my_list = ['Hola','Mundo',4,5,6] # Se asignan valores a la lista, separados por comas, dentro de los corchetes
print(my_list[1:4]) # Imprime los valores de la lista my_list, desde la posicion 1 a la 4, sin contar esta ultima

['Mundo', 4, 5]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [13]:
print(my_list[2:]) # Imprime los valores de la lista my_list, desde la posicion 2, es decir, desde 4

[4, 5, 6]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [14]:
print(my_list[:4]) # Imprime los valores de la lista my_list, desde la posicion 0 a la 4, sin contar esta ultima

['Hola', 'Mundo', 4, 5]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [16]:
my_list = ['Hola', 'Mundo'] # Se asignan valores a la lista, separados por comas, dentro de los corchetes
my_list.append('Adios') # Se adiciona un nuevo elemento a la lista, con el metodo append
print(my_list) # Imprime los valores de la lista my_list

['Hola', 'Mundo', 'Adios']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [17]:
my_list.remove('Mundo') # Se elimina un elemento de la lista, en este caso, 'Mundo', con el metodo remove
print(my_list) # Imprime los valores de la lista my_list

['Hola', 'Adios']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [18]:
my_tuple = ('Hola','Mundo','Adios') # Se asignan valores a la tupla, separados por comas, dentro de los parentesis

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [19]:
my_tuple = ('Hola','Mundo','Adios') # Se asignan valores a la tupla, separados por comas, dentro de los parentesis
print(my_tuple[1:]) # Imprime los valores de la tupla my_tuple, desde la posicion 1, es decir, 'Mundo'

('Mundo', 'Adios')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

In [22]:
stock_list = ['Hola','Mundo','Adios','Hola','Adios',1,2,1] # Se asignan valores a la lista, separados por comas, dentro de los corchetes
stock_set = set(stock_list) # Se crea la coleccion set, transformando la lista con la funcion set()
print(stock_set) # Imprime los valores del set stock_set, reflejando su propiedad de elementos no duplicados

{1, 2, 'Adios', 'Hola', 'Mundo'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [23]:
my_dic = {'Hola':'Mundo', 'Adios':'Planeta', 'Tierra':'Agua'} # Se asignan llaves y sus valores pares al diccionario, separados por comas, dentro de los parentesis

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [25]:
print(my_dic['Adios']) # Imprime el valor de la llave 'Adios', almacenado en el diccionario my_dic, en este caso, 'Planeta'

Planeta

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [26]:
my_dic['Tierra'] = 'Aire' # Se cambia el valor de la llave 'Tierra' en el diccionario, es decir, cambia 'Agua' por 'Aire'
print(my_dic['Tierra']) # Imprime el valor de la llave 'Tierra', almacenado en el diccionario my_dic, en este caso, 'Aire'

Aire

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [27]:
print(my_dic.keys()) # Imprime todas las llaves almacenadas en el diccionario my_dic

dict_keys(['Hola', 'Adios', 'Tierra'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [28]:
my_str = 'Hola Mundo'
print(my_str[6:]) # Imprime la cadena de caracteres my_str, desde la posicion 6, es decir, 'u'

undo

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [29]:
print('Hola Mundo Adios Tierra'.count('a')) # Imprime la cantidad de caracteres 'a', contenidos en la cadena de caracteres
print('Hola Mundo Adios Tierra'.find('a')) # Imprime la posicion que se encuentra el primer caracter 'a', contenido en la cadena de caracteres
print('Hola Mundo Adios Tierra'.replace('a','o')) # Imprime el reemplazo de los caracteres 'a' por 'o', contenidos en la cadena de caracteres

2
3
Holo Mundo Adios Tierro

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [32]:
Time = '2021-12-03 15:16:00'
splited_list = Time.split(' ') # Asigna dos cadenas de caracteres a una lista, separadas por el caracter ' '
date = splited_list[0] # Asigna el elemento en la posicion 0 de la lista, a la variable date
time = splited_list[1] # Asigna el elemento en la posicion 1 de la lista, a la variable time
print(date, time) # Imprime las cadenas date y time
hour = time.split(':')[1] # Asigna la subcadena, en la posicion 1, de caracteres de la variable time, separadas por el caracter ':'
print(hour) # Imprime el valor de la variable hour, en este caso, 16

2021-12-03 15:16:00
16

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [34]:
my_time = 'Hora: {}, Minutos:{}'.format('15','16') # Reemplaza las posiciones de las llaves con los parametros de la funcion format
print(my_time) # Imprime el valor de la variable my_time

Hora: 15, Minutos:16

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [36]:
print('el numero pi es %f'%3.1416) # Reemplaza la posicion de flotante en la cadena de caracteres, con el flotante 3.1416
print('%s Adios %s'%('Hola','Mundo')) # Reemplaza las posiciones de strings en la cadena de caracteres, con las cadenas de caracteres 'Hola' y 'Mundo'

el numero pi es 3.141600
Hola Adios Mundo

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [2]:
print(2 == 1) # Imprime el resultado de la comparacion logica, en este caso, si 2 es igual que 1, lo cual es falso
print(2 == 2) # Imprime el resultado de la comparacion logica, en este caso, si 2 es igual que 2, lo cual es verdadero
print(2 != 1) # Imprime el resultado de la comparacion logica, en este caso, si 2 es diferente que 1, lo cual es verdadero
print(3 >= 3) # Imprime el resultado de la comparacion logica, en este caso, si 3 es mayor o igual que 3, lo cual es verdadero
print(4 < 3) # Imprime el resultado de la comparacion logica, en este caso, si 4 es menor que 3, lo cual es falso

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [5]:
print(3 > 2 and 4 > 3) # Imprime el resultado de las comparaciones logicas, 3 mayor que 2 y 4 mayor que 3, lo cual es verdadero
print(3 > 2 and 4 < 3) # Imprime el resultado de las comparaciones logicas, 3 mayor que 2 y 4 menor que 3, lo cual es falso
print(3 > 2 or 4 < 3) # Imprime el resultado de las comparaciones logicas, 3 mayor que 2 o 4 menor que 3, lo cual es verdadero
print(3 <= 2 or 4 > 3) # Imprime el resultado de las comparaciones logicas, 3 menor o igual que 2 o 4 mayor que 3, lo cual es verdadero

True
False
True
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [8]:
print((4 > 3 or 2 < 4) and (2!=4 and 5>4) and not ( 4 < 3 or 2 < 4 and (2!=4 and 5>4))) # Imprime el resultado de las operaciones logicas, siguiendo la jerarquia de operaciones
print(4 > 3 or 2 < 4 and (2!=4 and 5<4) and not ( 4 > 3 or 2 < 4 and (2==4 and 5>4))) # Imprime el resultado de las operaciones logicas, siguiendo la jerarquia de operaciones

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [ ]:
i = 1
if i == 1: # Si el valor de la variable i es igual a 1, se ejecutara el bloque de codigo tabulado
    print('i==1 es verdadero') # Imprime una cadena de caracteres

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [11]:
p = 2 > 1 # Asigna el resultado booleano de la comparacion logica, 2 mayor que 1, lo cual es verdadero
q = 3 > 4 # Asigna el resultado booleano de la comparacion logica, 3 mayor que 4, lo cual es falso
if p and q: # Si p y q son verdaderos, se ejecutara el bloque de codigo tabulado
    print('p and q is true')
elif p and not q: # Si p es verdadero y q es falso, se ejecutara el bloque de codigo tabulado
    print('q is false')
elif q and not p: # Si q es verdadero y p es falso, se ejecutara el bloque de codigo tabulado
    print('p is false')
else: # En cualquier otro caso, se ejecutara el bloque de codigo tabulado
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [12]:
i = 0
while i < 3: # Mientras el valor de la variable i sea menor que 3, se ejecutara el bloque de codigo tabulado
    print(i)
    i += 1 # Incrementa el valor de la variable i en 1, evitando asi ciclos infinitos

0
1
2

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [13]:
for i in [6,7,8,9,10]: # La variable i va a iterar entre 6 y 10, ejecutando el bloque de codigo tabulado
    print(i)

6
7
8
9
10

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [14]:
stocks = ['Hola','Mundo','Adios','Tierra','Agua','Aire', 'Fuego', 'Planeta']
selected = ['Hola','Adios']
new_list = []
for i in stocks: # La variable i va a iterar en la lista stocks, ejecutando el bloque de codigo tabulado
    if i not in selected: # Si el valor de la variable i no esta en la lista selected, se jecutara el bloque de codigo tabulado
        new_list.append(i) # Se adiciona un nuevo elemento a la lista new_list, con el metodo append
print(new_list)

['Mundo', 'Tierra', 'Agua', 'Aire', 'Fuego', 'Planeta']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [15]:
stocks = ['Hola','Mundo','Adios','Tierra','Agua','Aire', 'Fuego', 'Planeta']
for i in stocks: # La variable i va a iterar en la lista stocks, ejecutando el bloque de codigo tabulado
    print(i)
    if i == 'Tierra': # Si el valor de la variable i es igual a 'Tierra', el ciclo se termina
        break

Hola
Mundo
Adios
Tierra

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [16]:
stocks = ['Hola','Mundo','Adios','Tierra','Agua','Aire', 'Fuego', 'Planeta']
for i in stocks: # La variable i va a iterar en la lista stocks, ejecutando el bloque de codigo tabulado
    if i == 'Tierra': # Si el valor de la variable i es igual a 'Tierra', el ciclo salta a la siguiente iteracion
        continue
    print(i)

Hola
Mundo
Adios
Agua
Aire
Fuego
Planeta

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [17]:
squares = []
for i in [6,7,8,9,10]: # La variable i va a iterar entre 6 y 10, ejecutando el bloque de codigo tabulado
    squares.append(i**3) # El valor de la variable i se elevara al cubo y adicionara en la lista squares
print(squares)

[216, 343, 512, 729, 1000]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [35]:
list = [6,7,8,9,10]
squares = [y**3 for y in list]  # Se aplica el concepto de List Comprehension, en este caso, el valor de la variable 'y' se elevara al cubo y adicionara en la lista squares
print(squares)

[216, 343, 512, 729, 1000]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [18]:
stocks = ['Hola','Mundo','Adios','Tierra','Agua','Aire', 'Fuego', 'Planeta']
selected = ['Hola','Adios']
new_list = [x for x in stocks if x in selected] # Se aplica el concepto de List Comprehension, en este caso, el valor de la variable 'x' adicionara en la lista squares si esta en la lista selected
print(new_list)

['Hola', 'Adios']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [20]:
print([(x, y) for x in [2,3,4] for y in [4,2,5] if x != y]) # Se aplica el concepto de List Comprehension, en este caso, consistiendo del ciclo for y la condicional if
print([str(x)+' vs '+str(y) for x in ['Hola','Mundo','Adios','Planeta'] for y in ['Tierra','Agua','Aire','Fuego'] if x!=y]) # Se aplica el concepto de List Comprehension, en este caso, consistiendo de ciclos for anidados

[(2, 4), (2, 5), (3, 4), (3, 2), (3, 5), (4, 2), (4, 5)]
['Hola vs Tierra', 'Hola vs Agua', 'Hola vs Aire', 'Hola vs Fuego', 'Mundo vs Tierra', 'Mundo vs Agua', 'Mundo vs Aire', 'Mundo vs Fuego', 'Adios vs Tierra', 'Adios vs Agua', 'Adios vs Aire', 'Adios vs Fuego', 'Planeta vs Tierra', 'Planeta vs Agua', 'Planeta vs Aire', 'Planeta vs Fuego']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [21]:
def division(x,y): # Funcion que retorna la division entre dos variables
    return x/y
print(division(4,2)) # Imprime el resultado flotante de la division entre dos numeros enteros
print(division(5,3)) # Imprime el resultado flotante de la division entre dos numeros enteros

2.0
1.6666666666666667

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [22]:
def say_hi(): # Funcion que imprime una cadena de caracteres
    print('Hola Mundo')
say_hi() # Llamado a la funcion say_hi

Hola Mundo

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [24]:
print(range(7)) # Imprime la lista range con la secuencia aritmetica de 0 a 7
print(range(3,7)) # Imprime la lista range con la secuencia aritmetica de 3 a 7
print(range(3,21,7)) # Imprime la lista range con la secuencia aritmetica desde 3 incrementando en 7, y se detiene en 21

range(0, 7)
range(3, 7)
range(3, 21, 7)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [25]:
tickers = ['Hola','Mundo','Adios','Tierra','Agua','Aire', 'Fuego', 'Planeta']
print('La longitud de tickers es {}'.format(len(tickers))) # Imprime, en la posicion de las llaves, la longitud de la lista tickers
for i in range(len(tickers)): # La variable i va a iterar en el rango de la longitud de la lista tickers
    print(tickers[i])

La longitud de tickers es 8
Hola
Mundo
Adios
Tierra
Agua
Aire
Fuego
Planeta

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [36]:
print(list)
del list # La sentencia del elimina los elementos de la lista
list

[6, 7, 8, 9, 10]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [38]:
tickers = ['Hola','Mundo','Adios','Tierra','Agua','Aire', 'Fuego', 'Planeta']
list(map(len,tickers)) # Asigna a la lista la longitud de cada elemento de la lista tickers

[4, 5, 5, 6, 4, 4, 5, 7]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [40]:
tickers = ['Hola','Mundo','Adios','Tierra','Agua','Aire', 'Fuego', 'Planeta']
print(list(map(len,tickers))) # Imprime la lista que contiene la longitud de cada elemento de la lista tickers

[4, 5, 5, 6, 4, 4, 5, 7]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
list(map(lambda x: x**3, range(7))) # Asigna a la lista el resultado de la variable x al cubo, en un rango de 0 a 7, sin incluir el ultimo numero

[0, 1, 8, 27, 64, 125, 216]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [43]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[6,7,8,9,10])) # Asigna a la lista el resultado de la suma entre los elementos de dos listas

[7, 9, 11, 13, 15]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [45]:
sorted([7,1,4,5,2]) # La funcion sorted ordena una lista o set

[1, 2, 4, 5, 7]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [47]:
price_list = [('Hola',21.3),('Mundo',9.4),('Adios',20.01),('Tierra',13),('Aire',71.23)]
sorted(price_list, key = lambda x: x[1]) # Se ordena la lista price_list de acuerdo al valor de la posicion 1, en cada elemento

[('Mundo', 9.4),
 ('Tierra', 13),
 ('Adios', 20.01),
 ('Hola', 21.3),
 ('Aire', 71.23)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [49]:
price_list = [('Hola',21.3),('Mundo',9.4),('Adios',20.01),('Tierra',13),('Aire',71.23)]
sorted(price_list, key = lambda x: x[1],reverse = True)  # Se ordena la lista price_list de acuerdo al valor de la posicion 1, en cada elemento. Y, luego, se reflexiona (inversa)

[('Aire', 71.23),
 ('Hola', 21.3),
 ('Adios', 20.01),
 ('Tierra', 13),
 ('Mundo', 9.4)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [51]:
price_list = [('Hola',21.3),('Mundo',9.4),('Adios',20.01),('Tierra',13),('Aire',71.23)]
price_list.sort(key = lambda x: x[1]) # Se ordena la lista price_list, con el metodo sort, de acuerdo al valor de la posicion 1, en cada elemento
print(price_list)

[('Mundo', 9.4), ('Tierra', 13), ('Adios', 20.01), ('Hola', 21.3), ('Aire', 71.23)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [53]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [57]:
hola = stock('Adios', 21.3, 7.09, 20221203)
mundo = stock('Tierra', 9.04, 20.01, 21042100)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [58]:
hola.ticker # Obtiene el valor de la variable ticker del objeto hola
mundo.print_return() # Ejecuta el metodo print_return del objeto mundo
mundo.update(21.04,22.3) # Ejecuta el metodo update del objeto mundo
mundo.print_return() # Ejecuta el metodo print_return del objeto mundo

1.2134955752212395
0.05988593155893551

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [60]:
hola.ceo = 'Jose Suarez' # Asigna a la variable ceo del objeto hola, el valor 'Jose Suarez'
hola.ceo # Obtiene el valor de la variable ceo del objeto hola

'Jose Suarez'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [64]:
dir(hola) # Obtiene los atributos y metodos definidos en el objeto hola

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [66]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [68]:
aa = child('bb') # Crea un objeto de la clase child, la cual hereda de la clase stock
print(aa.name) # Imprime el valor de la variable name del objeto aa
aa.update(12,13) # Ejecuta el metodo update del objeto aa
print(aa.open) # Imprime el valor de la variable open del objeto aa
print(aa.close) # Imprime el valor de la variable close del objeto aa
print(aa.print_return()) # Imprime el retorno de la funcion print_return del objeto aa

bb
12
13
0.08333333333333326
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [70]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [71]:
price_list = [3.21, 9.04, 20.01, 12.3, 6.37, 11.34]
price_array = np.array(price_list) # Asigna, al arreglo price_array, los elementos de la lista price_list
print(price_array, type(price_array)) # Imprime los elementos del arreglo price_array y el tipo del objeto price_array

[ 3.21  9.04 20.01 12.3   6.37 11.34] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [74]:
Ar = np.array([[2,4],[1,3],[5,7]]) # Asigna, al arreglo Ar, un arreglo tridimensional
print(Ar, type(Ar)) # Imprime los elementos del arreglo Ar y el tipo del objeto Ar

[[2 4]
 [1 3]
 [5 7]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

In [76]:
print(Ar.shape) # Imprime, con el atributo shape, las dimensaiones del arreglo Ar

(3, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [78]:
print(Ar[1]) # Imprime la fila en la posicion 1 del arreglo Ar
print(Ar[2]) # Imprime la fila en la posicion 2 del arreglo Ar

[1 3]
[5 7]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [82]:
print('La primera columna: ', Ar[:,0]) # Imprime la columna en la posicion 0 del arreglo Ar
print('La segunda columna: ', Ar[:,1]) # Imprime la columna en la posicion 1 del arreglo Ar

La primera columna:  [2 1 5]
La segunda columna:  [4 3 7]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [85]:
print(np.sqrt(price_array)) # Imprime la raiz de cada elemento del arreglo price_array

[1.79164729 3.00665928 4.47325385 3.50713558 2.52388589 3.36749165]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [91]:
print(np.mean(price_array)) # Imprime la media del arreglo price_array
print(np.var(price_array)) # Imprime la varianza del arreglo price_array
print(np.sum(price_array)) # Imprime la suma del arreglo price_array
print(np.min(price_array)) # Imprime el valor minimo del arreglo price_array

10.378333333333332
27.771580555555563
62.269999999999996
3.21

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [92]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [96]:
price = [3.21, 9.04, 20.01, 12.3, 6.37, 11.34]
s = pd.Series(price) # Asigna a la variable s, la serie de la lista price
s # La variable s es de tipo punto flotante de 64 bits

0     3.21
1     9.04
2    20.01
3    12.30
4     6.37
5    11.34
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [98]:
s = pd.Series(price,index = ['z','y','x','w','v','u']) # Asigna a la variable s, la serie de la lista price, con indices determinados
s # La variable s es de tipo punto flotante de 64 bits

z     3.21
y     9.04
x    20.01
w    12.30
v     6.37
u    11.34
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [100]:
s.index = [7,6,5,4,3,2] # Cambia los indices de la serie s
s # La variable s es de tipo punto flotante de 64 bits

7     3.21
6     9.04
5    20.01
4    12.30
3     6.37
2    11.34
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [101]:
print(s[2:]) # Imprime la serie s desde la posicion 2
print(s[:-1]) # Imprime la serie s inversamente desde la posicion 1 (derecha a izquierda)

5    20.01
4    12.30
3     6.37
2    11.34
dtype: float64
7     3.21
6     9.04
5    20.01
4    12.30
3     6.37
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [102]:
print(s[5]) # Imprime el valor en la llave 5 de la serie s
s[5] = 0 # Asigna el valor 0 a la llave 5 de la serie s
print(s)

20.01
7     3.21
6     9.04
5     0.00
4    12.30
3     6.37
2    11.34
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [103]:
s = pd.Series(price, name = 'Hola Mundo Adios') # Asigna el nombre a la serie s
print(s)
print(s.name) # Imprime el valor del atributo name de la serie s

0     3.21
1     9.04
2    20.01
3    12.30
4     6.37
5    11.34
Name: Hola Mundo Adios, dtype: float64
Hola Mundo Adios

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [104]:
print(s.describe()) # Imprime un resumen estadistico de la serie s

count     6.000000
mean     10.378333
std       5.772859
min       3.210000
25%       7.037500
50%      10.190000
75%      12.060000
max      20.010000
Name: Hola Mundo Adios, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [109]:
time_index = pd.date_range('2022-03-12',periods = len(s),freq = 'W') # Asigna fechas a la variable time_index, con frecuencia semanal
print(time_index)
s.index = time_index # Asigna indices de fechas de la variable time_index a la serie s
print(s)

DatetimeIndex(['2022-03-13', '2022-03-20', '2022-03-27', '2022-04-03',
               '2022-04-10', '2022-04-17'],
              dtype='datetime64[ns]', freq='W-SUN')
2022-03-13     3.21
2022-03-20     9.04
2022-03-27    20.01
2022-04-03    12.30
2022-04-10     6.37
2022-04-17    11.34
Freq: W-SUN, Name: Hola Mundo Adios, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [110]:
s.index = [7,6,5,4,3,2]
print(s)
print(s[2]) # Imprime el valor en la llave 2 de la serie s

7     3.21
6     9.04
5    20.01
4    12.30
3     6.37
2    11.34
Name: Hola Mundo Adios, dtype: float64
11.34

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [113]:
print(s.iloc[2]) # Imprime el valor de la serie s en la posicion 2

20.01

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [116]:
s.index = time_index
print(s['2022-03-20']) # Imprime el valor en la llave '2022-03-20' de la serie s

9.04

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [118]:
print(s['2022-03-12':'2022-04-10']) # Imprime los valores entre las llaves '2022-03-12' y '2022-04-10' de la serie s

2022-03-13     3.21
2022-03-20     9.04
2022-03-27    20.01
2022-04-03    12.30
2022-04-10     6.37
Freq: W-SUN, Name: Hola Mundo Adios, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [120]:
print(s[s < np.mean(s)] ) # Se pueden realizar comparaciones logicas en los indices de las series, en este caso, imprime los valores de los indices menores que la media de la serie s
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2022-03-13    3.21
2022-03-20    9.04
2022-04-10    6.37
Name: Hola Mundo Adios, dtype: float64
[2022-03-13    False
2022-03-20    False
2022-03-27    False
2022-04-03     True
2022-04-10    False
2022-04-17     True
Freq: W-SUN, Name: Hola Mundo Adios, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)

In [5]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33890998, 'profitMargins': 0.26579002, 'grossMargins': 0.43019, 'operatingCashflow': 112241000448, 'revenueGrowth': 0.112, 'operatingMargins': 0.309, 'ebitda': 128217997312, 'targetLowPrice': 160, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 80153247744, 'targetMedianPrice': 199.5, 'currentPrice': 154.73, 'earningsGrowth': 0.25, 'currentRatio': 1.038, 'returnOnAssets': 0.19875, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 193.53, 'debtToEquity': 170.714, 'returnOnEquity': 1.45567, 'targetHighPrice': 215, 'totalCash': 63913000960, 'totalDebt': 122797998080, 'totalRevenue': 378323009536, 'totalCashPerShare': 3.916, 'financialCurrency': 'USD', 'revenuePerShare': 22.838, 'quickRatio': 0.875, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EST', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-18000000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.83, 'beta3Year': None, 'enterpriseToEbitda': 20.153, '52WeekChange': 0.24792325, 'morningStarRiskRating': None, 'forwardEps': 6.56, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16319399936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 4.402, 'sharesShort': 110322490, 'sharesPercentSharesOut': 0.0068, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59426, 'netIncomeToCommon': 100554997760, 'trailingEps': 6.015, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.059303045, 'priceToBook': 35.149933, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 1.2, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 16302795170, 'beta': 1.185531, 'enterpriseValue': 2583992205312, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1643932800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.204, 'priceToSalesTrailing12Months': 6.674457, 'dateShortInterest': 1646006400, 'pegRatio': 1.73, 'ytdReturn': None, 'forwardPE': 23.58689, 'lastCapGain': None, 'shortPercentOfFloat': 0.0068, 'sharesShortPriorMonth': 91388112, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 158.52, 'regularMarketOpen': 158.93, 'twoHundredDayAverage': 153.6086, 'trailingAnnualDividendYield': 0.0054567247, 'payoutRatio': 0.1434, 'volume24Hr': None, 'regularMarketDayHigh': 159.2799, 'navPrice': None, 'averageDailyVolume10Day': 93968420, 'regularMarketPreviousClose': 158.52, 'fiftyDayAverage': 168.6374, 'trailingAnnualDividendRate': 0.865, 'open': 158.93, 'toCurrency': None, 'averageVolume10days': 93968420, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1643932800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 154.5, 'currency': 'USD', 'trailingPE': 25.724024, 'regularMarketVolume': 96970102, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2525100769280, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 97563235, 'dayLow': 154.5, 'ask': 154.49, 'askSize': 2900, 'volume': 96970102, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.13, 'fiftyTwoWeekLow': 118.86, 'bid': 154.44, 'tradeable': False, 'dividendYield': 0.0057, 'bidSize': 1000, 'dayHigh': 159.2799, 'regularMarketPrice': 154.73, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.2017}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.590634,24.225174,23.450391,24.220575,270597600,0.0,0
2016-01-05,24.312536,24.335527,23.544652,23.613623,223164000,0.0,0
2016-01-06,23.119329,23.535460,22.960695,23.151516,273829600,0.0,0
2016-01-07,22.687108,23.020471,22.169820,22.174417,324377600,0.0,0
2016-01-08,22.657217,22.785964,22.245686,22.291666,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.713653,41.890367,41.670671,41.792458,65397600,0.0,0
2017-12-26,40.787112,40.947108,40.519653,40.732189,132742000,0.0,0
2017-12-27,40.619949,40.782332,40.526817,40.739349,85992800,0.0,0
2017-12-28,40.834877,41.037858,40.710699,40.853981,65920800,0.0,0
2017-12-29,40.720248,40.736962,40.409807,40.412193,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2017']

In [6]:
aapl = aapl_table['Close']['2016'] # Asigna a la serie aapl los valores de la columna Close del aÃ±o 2016 de la tabla appl_table

In [ ]:
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

In [7]:
print(aapl) # Imprime los valores de la columna Close del aÃ±o 2016 de la tabla appl_table

Date
2016-01-04    24.220575
2016-01-05    23.613623
2016-01-06    23.151516
2016-01-07    22.174417
2016-01-08    22.291666
                ...
2016-12-23    27.384647
2016-12-27    27.558563
2016-12-28    27.441050
2016-12-29    27.434006
2016-12-30    27.220137
Name: Close, Length: 252, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])

Date
2017-03-01    33.086281
2017-03-02    32.889839
2017-03-03    33.083920
2017-03-06    32.979778
2017-03-07    33.022373
2017-03-08    32.899296
2017-03-09    32.823563
2017-03-10    32.932434
2017-03-13    32.946640
2017-03-14    32.896942
2017-03-15    33.244865
2017-03-16    33.299305
2017-03-17    33.133617
2017-03-20    33.481544
2017-03-21    33.098122
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287464
2017-03-27    33.344276
2017-03-28    34.035393
2017-03-29    34.111141
2017-03-30    34.066158
2017-03-31    34.002254
Name: Close, dtype: float64

In [8]:
print(aapl['2016-7']) # Imprime los valores de la columna Close del aÃ±o 2016 y mes 7 de la tabla appl_table

Date
2016-07-01    22.300245
2016-07-05    22.090946
2016-07-06    22.216524
2016-07-07    22.311871
2016-07-08    22.483967
2016-07-11    22.553740
2016-07-12    22.656061
2016-07-13    22.528154
2016-07-14    22.974670
2016-07-15    22.972347
2016-07-18    23.216537
2016-07-19    23.225840
2016-07-20    23.246773
2016-07-21    23.123512
2016-07-22    22.944441
2016-07-25    22.637461
2016-07-26    22.481642
2016-07-27    23.942122
2016-07-28    24.265383
2016-07-29    24.235151
Name: Close, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289885
2017-02-03    30.419493
2017-02-06    30.704651
2017-02-07    30.996870
                ...
2017-04-24    33.997528
2017-04-25    34.208179
2017-04-26    34.006985
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [10]:
aapl['2016-3':'2016-5'] # Imprime los valores de la columna Close del aÃ±o 2016 entre el mes 3 y 5 de la tabla appl_table

Date
2016-03-01    23.237846
2016-03-02    23.288700
2016-03-03    23.462070
2016-03-04    23.811108
2016-03-07    23.547590
                ...
2016-05-24    22.767698
2016-05-25    23.167696
2016-05-26    23.351421
2016-05-27    23.337467
2016-05-31    23.223513
Name: Close, Length: 64, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244392
2017-12-19    41.794228
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64

In [11]:
print(aapl.head(7)) # Imprime los primeros 7 registros de la serie aapl
print(aapl.tail(3)) # Imprime los ultimos 3 registros de la serie aapl

Date
2016-01-04    24.220575
2016-01-05    23.613623
2016-01-06    23.151516
2016-01-07    22.174417
2016-01-08    22.291666
2016-01-11    22.652620
2016-01-12    22.981388
Name: Close, dtype: float64
Date
2016-12-28    27.441050
2016-12-29    27.434006
2016-12-30    27.220137
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125686
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233914
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [12]:
by_week = aapl.resample('W').mean() # Asigna a la serie by_week la media en intervalos semanales de la serie aapl
print(by_week)

Date
2016-01-10    23.090359
2016-01-17    22.647104
2016-01-24    22.483063
2016-01-31    22.267757
2016-02-07    22.021039
2016-02-14    21.819026
2016-02-21    22.367553
2016-02-28    22.252669
2016-03-06    23.229988
2016-03-13    23.459755
2016-03-20    24.261395
2016-03-27    24.527101
2016-04-03    25.029748
2016-04-10    25.384797
2016-04-17    25.586362
2016-04-24    24.648807
2016-05-01    22.922091
2016-05-08    21.733138
2016-05-15    21.376051
2016-05-22    21.923497
2016-05-29    23.010022
2016-06-05    22.904904
2016-06-12    23.027232
2016-06-19    22.550016
2016-06-26    22.142570
2016-07-03    21.931405
2016-07-10    22.275827
2016-07-17    22.736995
2016-07-24    23.151421
2016-07-31    23.512352
2016-08-07    24.689845
2016-08-14    25.312943
2016-08-21    25.557522
2016-08-28    25.247941
2016-09-04    24.943039
2016-09-11    24.826478
2016-09-18    25.984477
2016-09-25    26.563417
2016-10-02    26.428735
2016-10-09    26.492803
2016-10-16    27.324267
2016-10-23    27.394416
2016-10-30    27.108685
2016-11-06    26.020144
2016-11-13    25.785098
2016-11-20    25.514822
2016-11-27    26.237161
2016-12-04    25.990504
2016-12-11    26.141858
2016-12-18    27.049511
2016-12-25    27.425074
2017-01-01    27.413439
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266116
2017-01-29    28.553982
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [20]:
by_month = aapl.resample('M').mean() # Asigna a la serie by_month la media en intervalos mensuales de la serie aapl
print(by_month.head()) # Imprime los primeros registros de la serie by_month

Date
2016-01-31    22.629387
2016-02-29    22.114205
2016-03-31    24.101730
2016-04-30    24.673088
2016-05-31    22.068431
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739218
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050140
2017-12-31    42.244392
Freq: M, Name: Close, dtype: float64

In [22]:
aapl.resample('W').max() # Obtiene los registros semanales maximos de la serie aapl

Date
2016-01-10    24.220575
2016-01-17    22.981388
2016-01-24    23.317043
2016-01-31    22.988285
2016-02-07    22.329412
2016-02-14    21.961882
2016-02-21    22.680767
2016-02-28    22.401068
2016-03-06    23.811108
2016-03-13    23.637743
2016-03-20    24.495323
2016-03-27    24.668684
2016-04-03    25.424557
2016-04-10    25.685759
2016-04-17    25.912289
2016-04-24    24.844364
2016-05-01    24.289595
2016-05-08    22.001177
2016-05-15    21.725822
2016-05-22    22.144430
2016-05-29    23.351421
2016-06-05    23.223513
2016-06-12    23.174677
2016-06-19    22.686298
2016-06-26    22.349083
2016-07-03    22.300245
2016-07-10    22.483967
2016-07-17    22.974670
2016-07-24    23.246773
2016-07-31    24.265383
2016-08-07    25.131033
2016-08-14    25.442011
2016-08-21    25.598675
2016-08-28    25.451365
2016-09-04    25.189482
2016-09-11    25.336794
2016-09-18    27.022640
2016-09-25    26.800512
2016-10-02    26.643848
2016-10-09    26.669571
2016-10-16    27.504307
2016-10-23    27.485605
2016-10-30    27.649273
2016-11-06    26.547985
2016-11-13    26.101437
2016-11-20    25.866411
2016-11-27    26.275351
2016-12-04    26.221294
2016-12-11    26.780645
2016-12-18    27.255392
2016-12-25    27.511566
2017-01-01    27.558563
Freq: W-SUN, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019310
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625218
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697633
2017-05-28    36.496181
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272775
2017-08-20    37.904119
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840876
2017-10-15    37.071593
2017-10-29    37.757321
2017-11-12    41.032237
2017-11-26    41.204375
2017-12-10    40.867067
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402611
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [24]:
four_day = aapl.resample('4D').mean() # Asigna a la serie four_day la media de los registros diarios (cada 4 dias) de la serie aapl
three_week = aapl.resample('3W').mean() # Asigna a la serie three_week la media los registros semanales (cada 3 semanas) de la serie aapl
five_month = aapl.resample('5M').mean() # Asigna a la serie five_month la media los registros mensuales (cada 5 meses) de la serie aapl


print(four_day) 
print(three_week)
print(five_month )

Date
2016-01-04    23.290033
2016-01-08    22.472143
2016-01-12    22.645724
2016-01-16    22.222691
2016-01-20    22.569853
                ...
2016-12-13    27.154918
2016-12-17    27.449280
2016-12-21    27.408936
2016-12-25    27.499806
2016-12-29    27.327071
Freq: 4D, Name: Close, Length: 91, dtype: float64
Date
2016-01-10    23.090359
2016-01-31    22.464754
2016-02-21    22.047895
2016-03-13    22.980804
2016-04-03    24.611723
2016-04-24    25.206656
2016-05-15    22.010427
2016-06-05    22.591944
2016-06-26    22.573273
2016-07-17    22.317522
2016-08-07    23.784539
2016-08-28    25.372802
2016-09-18    25.281678
2016-10-09    26.494985
2016-10-30    27.275789
2016-11-20    25.773354
2016-12-11    26.115032
2017-01-01    27.287620
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2016-01-31    22.629387
2016-06-30    23.098547
2016-11-30    25.404660
2017-04-30    26.871297
Freq: 5M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [27]:
std = aapl.resample('M').std() # Asigna a la serie std la desviacion estandar de los registros mensuales de la serie aapl
max = aapl.resample('W').max() # Asigna a la serie max el maximo de los registros semanales de la serie aapl
min = aapl.resample('D').min() # Asigna a la serie min el minimo de los registros diarios de la serie aapl


print(std)
print(max)
print(min)

Date
2016-01-31    0.667269
2016-02-29    0.290097
2016-03-31    0.644845
2016-04-30    1.212854
2016-05-31    0.710971
2016-06-30    0.482325
2016-07-31    0.635610
2016-08-31    0.361003
2016-09-30    0.864467
2016-10-31    0.439146
2016-11-30    0.389903
2016-12-31    0.672201
Freq: M, Name: Close, dtype: float64
Date
2016-01-10    24.220575
2016-01-17    22.981388
2016-01-24    23.317043
2016-01-31    22.988285
2016-02-07    22.329412
2016-02-14    21.961882
2016-02-21    22.680767
2016-02-28    22.401068
2016-03-06    23.811108
2016-03-13    23.637743
2016-03-20    24.495323
2016-03-27    24.668684
2016-04-03    25.424557
2016-04-10    25.685759
2016-04-17    25.912289
2016-04-24    24.844364
2016-05-01    24.289595
2016-05-08    22.001177
2016-05-15    21.725822
2016-05-22    22.144430
2016-05-29    23.351421
2016-06-05    23.223513
2016-06-12    23.174677
2016-06-19    22.686298
2016-06-26    22.349083
2016-07-03    22.300245
2016-07-10    22.483967
2016-07-17    22.974670
2016-07-24    23.246773
2016-07-31    24.265383
2016-08-07    25.131033
2016-08-14    25.442011
2016-08-21    25.598675
2016-08-28    25.451365
2016-09-04    25.189482
2016-09-11    25.336794
2016-09-18    27.022640
2016-09-25    26.800512
2016-10-02    26.643848
2016-10-09    26.669571
2016-10-16    27.504307
2016-10-23    27.485605
2016-10-30    27.649273
2016-11-06    26.547985
2016-11-13    26.101437
2016-11-20    25.866411
2016-11-27    26.275351
2016-12-04    26.221294
2016-12-11    26.780645
2016-12-18    27.255392
2016-12-25    27.511566
2017-01-01    27.558563
Freq: W-SUN, Name: Close, dtype: float64
Date
2016-01-04    24.220575
2016-01-05    23.613623
2016-01-06    23.151516
2016-01-07    22.174417
2016-01-08    22.291666
                ...
2016-12-26          NaN
2016-12-27    27.558563
2016-12-28    27.441050
2016-12-29    27.434006
2016-12-30    27.220137
Freq: D, Name: Close, Length: 362, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423561
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347557
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332241
2017-11-30    41.150097
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [28]:
last_day = aapl.resample('W').agg(lambda x: x[-1]) # Asigna a la serie last_day los ultimos valores semanales de la serie aapl
print(last_day)

Date
2016-01-10    22.291666
2016-01-17    22.330748
2016-01-24    23.317043
2016-01-31    22.379034
2016-02-07    21.733040
2016-02-14    21.726097
2016-02-21    22.199965
2016-02-28    22.401068
2016-03-06    23.811108
2016-03-13    23.637743
2016-03-20    24.483759
2016-03-27    24.425966
2016-04-03    25.424557
2016-04-10    25.117123
2016-04-17    25.392193
2016-04-24    24.428288
2016-05-01    21.668316
2016-05-08    21.563026
2016-05-15    21.051395
2016-05-22    22.144430
2016-05-29    23.337467
2016-06-05    22.772343
2016-06-12    22.983973
2016-06-19    22.170015
2016-06-26    21.721172
2016-07-03    22.300245
2016-07-10    22.483967
2016-07-17    22.972347
2016-07-24    22.944441
2016-07-31    24.235151
2016-08-07    25.131033
2016-08-14    25.294708
2016-08-21    25.570616
2016-08-28    25.004768
2016-09-04    25.189482
2016-09-11    24.113911
2016-09-18    26.870651
2016-09-25    26.353912
2016-10-02    26.433413
2016-10-09    26.669571
2016-10-16    27.504307
2016-10-23    27.263475
2016-10-30    26.590071
2016-11-06    25.579685
2016-11-13    25.483332
2016-11-20    25.866411
2016-11-27    26.273001
2016-12-04    25.828814
2016-12-11    26.780645
2016-12-18    27.255392
2016-12-25    27.384647
2017-01-01    27.220137
Freq: W-SUN, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [29]:
weekly_return = aapl.resample('W').agg(lambda x: x[-1]/x[0] - 1) # Asigna a la serie weekly_return las cuotas semanales de la serie aapl
print(weekly_return)

Date
2016-01-10   -0.079639
2016-01-17   -0.014209
2016-01-24    0.049245
2016-01-31   -0.021118
2016-02-07   -0.019702
2016-02-14   -0.010736
2016-02-21   -0.006209
2016-02-28    0.000310
2016-03-06    0.065364
2016-03-13    0.003829
2016-03-20    0.033164
2016-03-27   -0.002266
2016-04-03    0.045632
2016-04-10   -0.022138
2016-04-17    0.007613
2016-04-24   -0.016747
2016-05-01   -0.107918
2016-05-08   -0.003796
2016-05-15   -0.024464
2016-05-22    0.014274
2016-05-29    0.040651
2016-06-05   -0.019427
2016-06-12    0.002028
2016-06-19   -0.020649
2016-06-26   -0.017876
2016-07-03    0.041829
2016-07-10    0.017791
2016-07-17    0.018560
2016-07-24   -0.011720
2016-07-31    0.070577
2016-08-07    0.018975
2016-08-14   -0.001753
2016-08-21   -0.001096
2016-08-28   -0.014469
2016-09-04    0.008519
2016-09-11   -0.042433
2016-09-18    0.089909
2016-09-25   -0.007660
2016-10-02    0.001506
2016-10-09    0.013686
2016-10-16    0.013615
2016-10-23   -0.008082
2016-10-30   -0.033404
2016-11-06   -0.036474
2016-11-13   -0.017933
2016-11-20    0.041150
2016-11-27    0.000537
2016-12-04   -0.014968
2016-12-11    0.044359
2016-12-18    0.023566
2016-12-25   -0.001029
2017-01-01   -0.012280
Freq: W-SUN, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686331860727394
0.052258487776588924
0.09901841642506737

In [30]:
print(weekly_return.var()) # Imprime la varianza de la serie weekly_return
print(weekly_return.std()) # Imprime la desviacion estandar de la serie weekly_return
print(weekly_return.max()) # Imprime el maximo de la serie weekly_return

0.0011629297813335574
0.03410175627931144
0.08990858450892625

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [31]:
print(last_day.diff()) # Imprime la diferencia entre dos elementos consecutivos de la serie last_day
print(last_day.pct_change()) # Imprime el porcentaje de cambio entre dos elementos consecutivos de la serie last_day

Date
2016-01-10         NaN
2016-01-17    0.039082
2016-01-24    0.986296
2016-01-31   -0.938009
2016-02-07   -0.645994
2016-02-14   -0.006943
2016-02-21    0.473867
2016-02-28    0.201103
2016-03-06    1.410040
2016-03-13   -0.173365
2016-03-20    0.846016
2016-03-27   -0.057793
2016-04-03    0.998590
2016-04-10   -0.307434
2016-04-17    0.275070
2016-04-24   -0.963905
2016-05-01   -2.759972
2016-05-08   -0.105289
2016-05-15   -0.511631
2016-05-22    1.093035
2016-05-29    1.193037
2016-06-05   -0.565125
2016-06-12    0.211630
2016-06-19   -0.813957
2016-06-26   -0.448843
2016-07-03    0.579073
2016-07-10    0.183722
2016-07-17    0.488380
2016-07-24   -0.027906
2016-07-31    1.290710
2016-08-07    0.895882
2016-08-14    0.163675
2016-08-21    0.275908
2016-08-28   -0.565847
2016-09-04    0.184713
2016-09-11   -1.075571
2016-09-18    2.756741
2016-09-25   -0.516739
2016-10-02    0.079500
2016-10-09    0.236158
2016-10-16    0.834736
2016-10-23   -0.240831
2016-10-30   -0.673405
2016-11-06   -1.010386
2016-11-13   -0.096354
2016-11-20    0.383080
2016-11-27    0.406590
2016-12-04   -0.444187
2016-12-11    0.951832
2016-12-18    0.474747
2016-12-25    0.129255
2017-01-01   -0.164511
Freq: W-SUN, Name: Close, dtype: float64
Date
2016-01-10         NaN
2016-01-17    0.001753
2016-01-24    0.044168
2016-01-31   -0.040228
2016-02-07   -0.028866
2016-02-14   -0.000319
2016-02-21    0.021811
2016-02-28    0.009059
2016-03-06    0.062945
2016-03-13   -0.007281
2016-03-20    0.035791
2016-03-27   -0.002360
2016-04-03    0.040882
2016-04-10   -0.012092
2016-04-17    0.010952
2016-04-24   -0.037961
2016-05-01   -0.112983
2016-05-08   -0.004859
2016-05-15   -0.023727
2016-05-22    0.051922
2016-05-29    0.053875
2016-06-05   -0.024215
2016-06-12    0.009293
2016-06-19   -0.035414
2016-06-26   -0.020245
2016-07-03    0.026659
2016-07-10    0.008239
2016-07-17    0.021721
2016-07-24   -0.001215
2016-07-31    0.056254
2016-08-07    0.036966
2016-08-14    0.006513
2016-08-21    0.010908
2016-08-28   -0.022129
2016-09-04    0.007387
2016-09-11   -0.042699
2016-09-18    0.114322
2016-09-25   -0.019231
2016-10-02    0.003017
2016-10-09    0.008934
2016-10-16    0.031299
2016-10-23   -0.008756
2016-10-30   -0.024700
2016-11-06   -0.037999
2016-11-13   -0.003767
2016-11-20    0.015033
2016-11-27    0.015719
2016-12-04   -0.016907
2016-12-11    0.036852
2016-12-18    0.017727
2016-12-25    0.004742
2017-01-01   -0.006007
Freq: W-SUN, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [33]:
daily_return = last_day.pct_change() # Asigna, a la serie daily_return, el porcentaje de cambio entre dos elementos consecutivos de la serie last_day
print(daily_return.fillna(0)) # Reemplaza los valores NaN, de la serie daily_return, con 0

Date
2016-01-10    0.000000
2016-01-17    0.001753
2016-01-24    0.044168
2016-01-31   -0.040228
2016-02-07   -0.028866
2016-02-14   -0.000319
2016-02-21    0.021811
2016-02-28    0.009059
2016-03-06    0.062945
2016-03-13   -0.007281
2016-03-20    0.035791
2016-03-27   -0.002360
2016-04-03    0.040882
2016-04-10   -0.012092
2016-04-17    0.010952
2016-04-24   -0.037961
2016-05-01   -0.112983
2016-05-08   -0.004859
2016-05-15   -0.023727
2016-05-22    0.051922
2016-05-29    0.053875
2016-06-05   -0.024215
2016-06-12    0.009293
2016-06-19   -0.035414
2016-06-26   -0.020245
2016-07-03    0.026659
2016-07-10    0.008239
2016-07-17    0.021721
2016-07-24   -0.001215
2016-07-31    0.056254
2016-08-07    0.036966
2016-08-14    0.006513
2016-08-21    0.010908
2016-08-28   -0.022129
2016-09-04    0.007387
2016-09-11   -0.042699
2016-09-18    0.114322
2016-09-25   -0.019231
2016-10-02    0.003017
2016-10-09    0.008934
2016-10-16    0.031299
2016-10-23   -0.008756
2016-10-30   -0.024700
2016-11-06   -0.037999
2016-11-13   -0.003767
2016-11-20    0.015033
2016-11-27    0.015719
2016-12-04   -0.016907
2016-12-11    0.036852
2016-12-18    0.017727
2016-12-25    0.004742
2017-01-01   -0.006007
Freq: W-SUN, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [34]:
daily_return = last_day.pct_change() # Asigna, a la serie daily_return, el porcentaje de cambio entre dos elementos consecutivos de la serie last_day
print(daily_return.fillna(method = 'bfill')) # Reemplaza los valores NaN, de la serie daily_return, con el siguiente valor ajustado

Date
2016-01-10    0.001753
2016-01-17    0.001753
2016-01-24    0.044168
2016-01-31   -0.040228
2016-02-07   -0.028866
2016-02-14   -0.000319
2016-02-21    0.021811
2016-02-28    0.009059
2016-03-06    0.062945
2016-03-13   -0.007281
2016-03-20    0.035791
2016-03-27   -0.002360
2016-04-03    0.040882
2016-04-10   -0.012092
2016-04-17    0.010952
2016-04-24   -0.037961
2016-05-01   -0.112983
2016-05-08   -0.004859
2016-05-15   -0.023727
2016-05-22    0.051922
2016-05-29    0.053875
2016-06-05   -0.024215
2016-06-12    0.009293
2016-06-19   -0.035414
2016-06-26   -0.020245
2016-07-03    0.026659
2016-07-10    0.008239
2016-07-17    0.021721
2016-07-24   -0.001215
2016-07-31    0.056254
2016-08-07    0.036966
2016-08-14    0.006513
2016-08-21    0.010908
2016-08-28   -0.022129
2016-09-04    0.007387
2016-09-11   -0.042699
2016-09-18    0.114322
2016-09-25   -0.019231
2016-10-02    0.003017
2016-10-09    0.008934
2016-10-16    0.031299
2016-10-23   -0.008756
2016-10-30   -0.024700
2016-11-06   -0.037999
2016-11-13   -0.003767
2016-11-20    0.015033
2016-11-27    0.015719
2016-12-04   -0.016907
2016-12-11    0.036852
2016-12-18    0.017727
2016-12-25    0.004742
2017-01-01   -0.006007
Freq: W-SUN, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [35]:
daily_return = last_day.pct_change() # Asigna, a la serie daily_return, el porcentaje de cambio entre dos elementos consecutivos de la serie last_day
daily_return.dropna() # Elimina los valores NaN de la serie daily_return

Date
2016-01-17    0.001753
2016-01-24    0.044168
2016-01-31   -0.040228
2016-02-07   -0.028866
2016-02-14   -0.000319
2016-02-21    0.021811
2016-02-28    0.009059
2016-03-06    0.062945
2016-03-13   -0.007281
2016-03-20    0.035791
2016-03-27   -0.002360
2016-04-03    0.040882
2016-04-10   -0.012092
2016-04-17    0.010952
2016-04-24   -0.037961
2016-05-01   -0.112983
2016-05-08   -0.004859
2016-05-15   -0.023727
2016-05-22    0.051922
2016-05-29    0.053875
2016-06-05   -0.024215
2016-06-12    0.009293
2016-06-19   -0.035414
2016-06-26   -0.020245
2016-07-03    0.026659
2016-07-10    0.008239
2016-07-17    0.021721
2016-07-24   -0.001215
2016-07-31    0.056254
2016-08-07    0.036966
2016-08-14    0.006513
2016-08-21    0.010908
2016-08-28   -0.022129
2016-09-04    0.007387
2016-09-11   -0.042699
2016-09-18    0.114322
2016-09-25   -0.019231
2016-10-02    0.003017
2016-10-09    0.008934
2016-10-16    0.031299
2016-10-23   -0.008756
2016-10-30   -0.024700
2016-11-06   -0.037999
2016-11-13   -0.003767
2016-11-20    0.015033
2016-11-27    0.015719
2016-12-04   -0.016907
2016-12-11    0.036852
2016-12-18    0.017727
2016-12-25    0.004742
2017-01-01   -0.006007
Freq: W-SUN, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [38]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-02-01',periods = 5, freq = 'W') # Asigna a la variable data_index los indices semanales que serviran para el DataFrame df
df = pd.DataFrame(dict, index = data_index) # Asigna al DataFrame df los valores del diccionario dict con indices de la variable data_index
print(df)

              AAPL    GOOG     IBM
2017-02-05  143.50  898.70  155.58
2017-02-12  144.09  911.71  153.67
2017-02-19  142.73  906.69  152.36
2017-02-26  144.18  918.59  152.94
2017-03-05  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [39]:
df = aapl_table # Asigna al DataFrame df el contenido de la tabla appl_table
print(df.Close.tail(3)) # Imprime los ultimos 3 registros del DataFrame df
print(df['Volume'].tail(3)) # Imprime el volumen de los ultimos 3 registros del DataFrame df

Date
2017-12-27    40.739349
2017-12-28    40.853981
2017-12-29    40.412193
Name: Close, dtype: float64
Date
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000        0.0             0
2016-02-29  22.450761  22.768308  22.402086  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773054  24.986412  24.768364  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300094  26.441492  25.986660  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [43]:
aapl_2016 = df['2016']
aapl_week = aapl_2016.resample('W').agg(lambda x: x[-1]) # Asigna, al DataFrame aapl_week, los ultimos intervalos semanales del periodo del DataFrame aapl
print(aapl_week)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-10  22.657217  22.785964  22.245686  22.291666  283192000        0.0
2016-01-17  22.116935  22.464093  21.923815  22.330748  319335600        0.0
2016-01-24  22.675606  23.326240  22.615832  23.317043  263202000        0.0
2016-01-31  21.792775  22.379034  21.691616  22.379034  257666000        0.0
2016-02-07  22.310923  22.403385  21.656761  21.733040  185672400        0.0
2016-02-14  21.772329  21.843986  21.499568  21.726097  161405600        0.0
2016-02-21  22.190718  22.366395  22.144488  22.199965  141496800        0.0
2016-02-28  22.468101  22.657646  22.324787  22.401068  115964400        0.0
2016-03-06  23.663170  23.982161  23.432016  23.811108  184220400        0.0
2016-03-13  23.633119  23.642365  23.462066  23.637743  109632800        0.0
2016-03-20  24.580843  24.617828  24.315018  24.483759  176820800        0.0
2016-03-27  24.379736  24.560036  24.245667  24.425966  104532000        0.0
2016-04-03  25.144861  25.426869  25.010792  25.424557  103496000        0.0
2016-04-10  25.174911  25.373701  25.003856  25.117123   94326800        0.0
2016-04-17  25.914600  25.958520  25.364456  25.392193  187756000        0.0
2016-04-24  24.273415  24.613211  24.183266  24.428288  134732400        0.0
2016-05-01  21.726104  21.894847  21.383998  21.668316  274126000        0.0
2016-05-08  21.714191  21.732795  21.360698  21.563026  174799600        0.0
2016-05-15  20.930465  21.318841  20.930465  21.051395  177571200        0.0
2016-05-22  22.009545  22.193268  21.981637  22.144430  128104000        0.0
2016-05-29  23.125838  23.365375  23.081651  23.337467  145364800        0.0
2016-06-05  22.742110  22.853739  22.663039  22.772343  114019600        0.0
2016-06-12  22.914204  23.104903  22.902577  22.983973  126851600        0.0
2016-06-19  22.470019  22.476995  22.163039  22.170015  244032800        0.0
2016-06-26  21.607218  22.014199  21.546752  21.721172  301245600        0.0
2016-07-03  22.207221  22.435131  22.170012  22.300245  104106000        0.0
2016-07-10  22.439780  22.532804  22.337454  22.483967  115648400        0.0
2016-07-17  23.004906  23.093280  22.907231  22.972347  120548000        0.0
2016-07-24  23.083977  23.093280  22.863043  22.944441  113254800        0.0
2016-07-31  24.230501  24.314223  24.111894  24.235151  110934800        0.0
2016-08-07  24.848109  25.170782  24.827066  25.131033  162213600        0.0
2016-08-14  25.201180  25.355502  25.201180  25.294708   74641600        0.0
2016-08-21  25.432661  25.647777  25.336795  25.570616  101472400        0.0
2016-08-28  25.114664  25.240926  24.857460  25.004768  111065200        0.0
2016-09-04  25.182466  25.252612  24.976704  25.189482  107210000        0.0
2016-09-11  24.466980  24.719507  24.113911  24.113911  186228000        0.0
2016-09-18  26.917416  27.153574  26.664890  26.870651  319547600        0.0
2016-09-25  26.753745  26.840259  26.082681  26.353912  209924800        0.0
2016-10-02  26.295458  26.508235  26.141137  26.433413  145516400        0.0
2016-10-09  26.728026  26.786481  26.540971  26.669571   97433600        0.0
2016-10-16  27.562762  27.630570  27.387397  27.504307  142608800        0.0
2016-10-23  27.312578  27.335961  27.188653  27.263475   92770800        0.0
2016-10-30  26.625144  26.938463  26.526938  26.590071  151446800        0.0
2016-11-06  25.506829  25.911066  25.408121  25.579685  123348000        0.0
2016-11-13  25.175455  25.586742  25.041493  25.483332  136575600        0.0
2016-11-20  25.786505  25.979222  25.772404  25.866411  113715600        0.0
2016-11-27  26.117886  26.291803  26.075582  26.273001   45903600        0.0
2016-12-04  25.657247  25.873466  25.582041  25.828814  106112000        0.0
2016-12-11  26.395211  26.956911  26.395211  26.780645  137610400        0.0
2016-12-18  27.372903  27.379953  27.180185  27.255392  177404400        0.0
2016-12-25  27.166078  27.384647  27.166078  27.384647   56998000        0.0
2017-01-01  27.415205  27.544465  27.128479  27.220137  122345200        0.0

            Stock Splits
Date
2016-01-10             0
2016-01-17             0
2016-01-24             0
2016-01-31             0
2016-02-07             0
2016-02-14             0
2016-02-21             0
2016-02-28             0
2016-03-06             0
2016-03-13             0
2016-03-20             0
2016-03-27             0
2016-04-03             0
2016-04-10             0
2016-04-17             0
2016-04-24             0
2016-05-01             0
2016-05-08             0
2016-05-15             0
2016-05-22             0
2016-05-29             0
2016-06-05             0
2016-06-12             0
2016-06-19             0
2016-06-26             0
2016-07-03             0
2016-07-10             0
2016-07-17             0
2016-07-24             0
2016-07-31             0
2016-08-07             0
2016-08-14             0
2016-08-21             0
2016-08-28             0
2016-09-04             0
2016-09-11             0
2016-09-18             0
2016-09-25             0
2016-10-02             0
2016-10-09             0
2016-10-16             0
2016-10-23             0
2016-10-30             0
2016-11-06             0
2016-11-13             0
2016-11-20             0
2016-11-27             0
2016-12-04             0
2016-12-11             0
2016-12-18             0
2016-12-25             0
2017-01-01             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250
2016-02-29  22.450761  22.768308  22.402086  22.411358
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [44]:
aapl_bar = aapl_week[['Open', 'High', 'Low', 'Close']] # Asigna al DataFrame appl_bar los registros cuyos campos son 'Open', 'High', 'Low' y 'Close' del DataFrame aapl_week
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-10  22.657217  22.785964  22.245686  22.291666
2016-01-17  22.116935  22.464093  21.923815  22.330748
2016-01-24  22.675606  23.326240  22.615832  23.317043
2016-01-31  21.792775  22.379034  21.691616  22.379034
2016-02-07  22.310923  22.403385  21.656761  21.733040
2016-02-14  21.772329  21.843986  21.499568  21.726097
2016-02-21  22.190718  22.366395  22.144488  22.199965
2016-02-28  22.468101  22.657646  22.324787  22.401068
2016-03-06  23.663170  23.982161  23.432016  23.811108
2016-03-13  23.633119  23.642365  23.462066  23.637743
2016-03-20  24.580843  24.617828  24.315018  24.483759
2016-03-27  24.379736  24.560036  24.245667  24.425966
2016-04-03  25.144861  25.426869  25.010792  25.424557
2016-04-10  25.174911  25.373701  25.003856  25.117123
2016-04-17  25.914600  25.958520  25.364456  25.392193
2016-04-24  24.273415  24.613211  24.183266  24.428288
2016-05-01  21.726104  21.894847  21.383998  21.668316
2016-05-08  21.714191  21.732795  21.360698  21.563026
2016-05-15  20.930465  21.318841  20.930465  21.051395
2016-05-22  22.009545  22.193268  21.981637  22.144430
2016-05-29  23.125838  23.365375  23.081651  23.337467
2016-06-05  22.742110  22.853739  22.663039  22.772343
2016-06-12  22.914204  23.104903  22.902577  22.983973
2016-06-19  22.470019  22.476995  22.163039  22.170015
2016-06-26  21.607218  22.014199  21.546752  21.721172
2016-07-03  22.207221  22.435131  22.170012  22.300245
2016-07-10  22.439780  22.532804  22.337454  22.483967
2016-07-17  23.004906  23.093280  22.907231  22.972347
2016-07-24  23.083977  23.093280  22.863043  22.944441
2016-07-31  24.230501  24.314223  24.111894  24.235151
2016-08-07  24.848109  25.170782  24.827066  25.131033
2016-08-14  25.201180  25.355502  25.201180  25.294708
2016-08-21  25.432661  25.647777  25.336795  25.570616
2016-08-28  25.114664  25.240926  24.857460  25.004768
2016-09-04  25.182466  25.252612  24.976704  25.189482
2016-09-11  24.466980  24.719507  24.113911  24.113911
2016-09-18  26.917416  27.153574  26.664890  26.870651
2016-09-25  26.753745  26.840259  26.082681  26.353912
2016-10-02  26.295458  26.508235  26.141137  26.433413
2016-10-09  26.728026  26.786481  26.540971  26.669571
2016-10-16  27.562762  27.630570  27.387397  27.504307
2016-10-23  27.312578  27.335961  27.188653  27.263475
2016-10-30  26.625144  26.938463  26.526938  26.590071
2016-11-06  25.506829  25.911066  25.408121  25.579685
2016-11-13  25.175455  25.586742  25.041493  25.483332
2016-11-20  25.786505  25.979222  25.772404  25.866411
2016-11-27  26.117886  26.291803  26.075582  26.273001
2016-12-04  25.657247  25.873466  25.582041  25.828814
2016-12-11  26.395211  26.956911  26.395211  26.780645
2016-12-18  27.372903  27.379953  27.180185  27.255392
2016-12-25  27.166078  27.384647  27.166078  27.384647
2017-01-01  27.415205  27.544465  27.128479  27.220137

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [45]:
print(aapl_week.loc['2016-02':'2016-04',['Open', 'High', 'Low', 'Close']]) # Imprime los registros, del DataFrame aapl_week, en un intervalo especifico

                 Open       High        Low      Close
Date
2016-02-07  22.310923  22.403385  21.656761  21.733040
2016-02-14  21.772329  21.843986  21.499568  21.726097
2016-02-21  22.190718  22.366395  22.144488  22.199965
2016-02-28  22.468101  22.657646  22.324787  22.401068
2016-03-06  23.663170  23.982161  23.432016  23.811108
2016-03-13  23.633119  23.642365  23.462066  23.637743
2016-03-20  24.580843  24.617828  24.315018  24.483759
2016-03-27  24.379736  24.560036  24.245667  24.425966
2016-04-03  25.144861  25.426869  25.010792  25.424557
2016-04-10  25.174911  25.373701  25.003856  25.117123
2016-04-17  25.914600  25.958520  25.364456  25.392193
2016-04-24  24.273415  24.613211  24.183266  24.428288

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [49]:
import numpy as np

above = aapl_bar[aapl_bar.Close < np.mean(aapl_bar.Close)] # Asigna al DataFrame above los registros del DataFrame aapl_bar menores que su media
print(above)

                 Open       High        Low      Close
Date
2016-01-10  22.657217  22.785964  22.245686  22.291666
2016-01-17  22.116935  22.464093  21.923815  22.330748
2016-01-24  22.675606  23.326240  22.615832  23.317043
2016-01-31  21.792775  22.379034  21.691616  22.379034
2016-02-07  22.310923  22.403385  21.656761  21.733040
2016-02-14  21.772329  21.843986  21.499568  21.726097
2016-02-21  22.190718  22.366395  22.144488  22.199965
2016-02-28  22.468101  22.657646  22.324787  22.401068
2016-03-06  23.663170  23.982161  23.432016  23.811108
2016-03-13  23.633119  23.642365  23.462066  23.637743
2016-05-01  21.726104  21.894847  21.383998  21.668316
2016-05-08  21.714191  21.732795  21.360698  21.563026
2016-05-15  20.930465  21.318841  20.930465  21.051395
2016-05-22  22.009545  22.193268  21.981637  22.144430
2016-05-29  23.125838  23.365375  23.081651  23.337467
2016-06-05  22.742110  22.853739  22.663039  22.772343
2016-06-12  22.914204  23.104903  22.902577  22.983973
2016-06-19  22.470019  22.476995  22.163039  22.170015
2016-06-26  21.607218  22.014199  21.546752  21.721172
2016-07-03  22.207221  22.435131  22.170012  22.300245
2016-07-10  22.439780  22.532804  22.337454  22.483967
2016-07-17  23.004906  23.093280  22.907231  22.972347
2016-07-24  23.083977  23.093280  22.863043  22.944441
2016-07-31  24.230501  24.314223  24.111894  24.235151
2016-09-11  24.466980  24.719507  24.113911  24.113911

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change() # Agrega un nuevo campo al DataFrame aapl_bar, a partir del porcentaje de cambio del DataFrame aapl_bar
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-10  22.657217  22.785964  22.245686  22.291666          NaN
2016-01-17  22.116935  22.464093  21.923815  22.330748     0.001753
2016-01-24  22.675606  23.326240  22.615832  23.317043     0.044168
2016-01-31  21.792775  22.379034  21.691616  22.379034    -0.040228
2016-02-07  22.310923  22.403385  21.656761  21.733040    -0.028866
2016-02-14  21.772329  21.843986  21.499568  21.726097    -0.000319
2016-02-21  22.190718  22.366395  22.144488  22.199965     0.021811
2016-02-28  22.468101  22.657646  22.324787  22.401068     0.009059
2016-03-06  23.663170  23.982161  23.432016  23.811108     0.062945
2016-03-13  23.633119  23.642365  23.462066  23.637743    -0.007281
2016-03-20  24.580843  24.617828  24.315018  24.483759     0.035791
2016-03-27  24.379736  24.560036  24.245667  24.425966    -0.002360
2016-04-03  25.144861  25.426869  25.010792  25.424557     0.040882
2016-04-10  25.174911  25.373701  25.003856  25.117123    -0.012092
2016-04-17  25.914600  25.958520  25.364456  25.392193     0.010952
2016-04-24  24.273415  24.613211  24.183266  24.428288    -0.037961
2016-05-01  21.726104  21.894847  21.383998  21.668316    -0.112983
2016-05-08  21.714191  21.732795  21.360698  21.563026    -0.004859
2016-05-15  20.930465  21.318841  20.930465  21.051395    -0.023727
2016-05-22  22.009545  22.193268  21.981637  22.144430     0.051922
2016-05-29  23.125838  23.365375  23.081651  23.337467     0.053875
2016-06-05  22.742110  22.853739  22.663039  22.772343    -0.024215
2016-06-12  22.914204  23.104903  22.902577  22.983973     0.009293
2016-06-19  22.470019  22.476995  22.163039  22.170015    -0.035414
2016-06-26  21.607218  22.014199  21.546752  21.721172    -0.020245
2016-07-03  22.207221  22.435131  22.170012  22.300245     0.026659
2016-07-10  22.439780  22.532804  22.337454  22.483967     0.008239
2016-07-17  23.004906  23.093280  22.907231  22.972347     0.021721
2016-07-24  23.083977  23.093280  22.863043  22.944441    -0.001215
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.056254
2016-08-07  24.848109  25.170782  24.827066  25.131033     0.036966
2016-08-14  25.201180  25.355502  25.201180  25.294708     0.006513
2016-08-21  25.432661  25.647777  25.336795  25.570616     0.010908
2016-08-28  25.114664  25.240926  24.857460  25.004768    -0.022129
2016-09-04  25.182466  25.252612  24.976704  25.189482     0.007387
2016-09-11  24.466980  24.719507  24.113911  24.113911    -0.042699
2016-09-18  26.917416  27.153574  26.664890  26.870651     0.114322
2016-09-25  26.753745  26.840259  26.082681  26.353912    -0.019231
2016-10-02  26.295458  26.508235  26.141137  26.433413     0.003017
2016-10-09  26.728026  26.786481  26.540971  26.669571     0.008934
2016-10-16  27.562762  27.630570  27.387397  27.504307     0.031299
2016-10-23  27.312578  27.335961  27.188653  27.263475    -0.008756
2016-10-30  26.625144  26.938463  26.526938  26.590071    -0.024700
2016-11-06  25.506829  25.911066  25.408121  25.579685    -0.037999
2016-11-13  25.175455  25.586742  25.041493  25.483332    -0.003767
2016-11-20  25.786505  25.979222  25.772404  25.866411     0.015033
2016-11-27  26.117886  26.291803  26.075582  26.273001     0.015719
2016-12-04  25.657247  25.873466  25.582041  25.828814    -0.016907
2016-12-11  26.395211  26.956911  26.395211  26.780645     0.036852
2016-12-18  27.372903  27.379953  27.180185  27.255392     0.017727
2016-12-25  27.166078  27.384647  27.166078  27.384647     0.004742
2017-01-01  27.415205  27.544465  27.128479  27.220137    -0.006007

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [51]:
missing = aapl_bar.isnull() # Asigna al DataFrame missing los registros nulos del DataFrame aapl_bar
print(missing)
print('---------------------------------------------')
print(missing.describe()) # Imprime un resumen estadistico del DataFrame missing

             Open   High    Low  Close  rate_return
Date
2016-01-10  False  False  False  False         True
2016-01-17  False  False  False  False        False
2016-01-24  False  False  False  False        False
2016-01-31  False  False  False  False        False
2016-02-07  False  False  False  False        False
2016-02-14  False  False  False  False        False
2016-02-21  False  False  False  False        False
2016-02-28  False  False  False  False        False
2016-03-06  False  False  False  False        False
2016-03-13  False  False  False  False        False
2016-03-20  False  False  False  False        False
2016-03-27  False  False  False  False        False
2016-04-03  False  False  False  False        False
2016-04-10  False  False  False  False        False
2016-04-17  False  False  False  False        False
2016-04-24  False  False  False  False        False
2016-05-01  False  False  False  False        False
2016-05-08  False  False  False  False        False
2016-05-15  False  False  False  False        False
2016-05-22  False  False  False  False        False
2016-05-29  False  False  False  False        False
2016-06-05  False  False  False  False        False
2016-06-12  False  False  False  False        False
2016-06-19  False  False  False  False        False
2016-06-26  False  False  False  False        False
2016-07-03  False  False  False  False        False
2016-07-10  False  False  False  False        False
2016-07-17  False  False  False  False        False
2016-07-24  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-07  False  False  False  False        False
2016-08-14  False  False  False  False        False
2016-08-21  False  False  False  False        False
2016-08-28  False  False  False  False        False
2016-09-04  False  False  False  False        False
2016-09-11  False  False  False  False        False
2016-09-18  False  False  False  False        False
2016-09-25  False  False  False  False        False
2016-10-02  False  False  False  False        False
2016-10-09  False  False  False  False        False
2016-10-16  False  False  False  False        False
2016-10-23  False  False  False  False        False
2016-10-30  False  False  False  False        False
2016-11-06  False  False  False  False        False
2016-11-13  False  False  False  False        False
2016-11-20  False  False  False  False        False
2016-11-27  False  False  False  False        False
2016-12-04  False  False  False  False        False
2016-12-11  False  False  False  False        False
2016-12-18  False  False  False  False        False
2016-12-25  False  False  False  False        False
2017-01-01  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      52     52     52     52          52
unique      1      1      1      1           2
top     False  False  False  False       False
freq       52     52     52     52          51

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [52]:
print(missing[missing.rate_return == True]) # Imprime el registro, del DataFrame missing, cuyo campo rate_return sea verdadero

             Open   High    Low  Close  rate_return
Date
2016-01-10  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [54]:
drop = aapl_bar.dropna() # Asigna al DataFrame drop los registros del DataFrame aapl_bar sin los campos nulos
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0) # Asigna al DataFrame fill los registros del DataFrame aapl_bar con los campos nulos reemplazados por 0
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-01-17  22.116935  22.464093  21.923815  22.330748     0.001753
2016-01-24  22.675606  23.326240  22.615832  23.317043     0.044168
2016-01-31  21.792775  22.379034  21.691616  22.379034    -0.040228
2016-02-07  22.310923  22.403385  21.656761  21.733040    -0.028866
2016-02-14  21.772329  21.843986  21.499568  21.726097    -0.000319
2016-02-21  22.190718  22.366395  22.144488  22.199965     0.021811
2016-02-28  22.468101  22.657646  22.324787  22.401068     0.009059
2016-03-06  23.663170  23.982161  23.432016  23.811108     0.062945
2016-03-13  23.633119  23.642365  23.462066  23.637743    -0.007281
2016-03-20  24.580843  24.617828  24.315018  24.483759     0.035791
2016-03-27  24.379736  24.560036  24.245667  24.425966    -0.002360
2016-04-03  25.144861  25.426869  25.010792  25.424557     0.040882
2016-04-10  25.174911  25.373701  25.003856  25.117123    -0.012092
2016-04-17  25.914600  25.958520  25.364456  25.392193     0.010952
2016-04-24  24.273415  24.613211  24.183266  24.428288    -0.037961
2016-05-01  21.726104  21.894847  21.383998  21.668316    -0.112983
2016-05-08  21.714191  21.732795  21.360698  21.563026    -0.004859
2016-05-15  20.930465  21.318841  20.930465  21.051395    -0.023727
2016-05-22  22.009545  22.193268  21.981637  22.144430     0.051922
2016-05-29  23.125838  23.365375  23.081651  23.337467     0.053875
2016-06-05  22.742110  22.853739  22.663039  22.772343    -0.024215
2016-06-12  22.914204  23.104903  22.902577  22.983973     0.009293
2016-06-19  22.470019  22.476995  22.163039  22.170015    -0.035414
2016-06-26  21.607218  22.014199  21.546752  21.721172    -0.020245
2016-07-03  22.207221  22.435131  22.170012  22.300245     0.026659
2016-07-10  22.439780  22.532804  22.337454  22.483967     0.008239
2016-07-17  23.004906  23.093280  22.907231  22.972347     0.021721
2016-07-24  23.083977  23.093280  22.863043  22.944441    -0.001215
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.056254
2016-08-07  24.848109  25.170782  24.827066  25.131033     0.036966
2016-08-14  25.201180  25.355502  25.201180  25.294708     0.006513
2016-08-21  25.432661  25.647777  25.336795  25.570616     0.010908
2016-08-28  25.114664  25.240926  24.857460  25.004768    -0.022129
2016-09-04  25.182466  25.252612  24.976704  25.189482     0.007387
2016-09-11  24.466980  24.719507  24.113911  24.113911    -0.042699
2016-09-18  26.917416  27.153574  26.664890  26.870651     0.114322
2016-09-25  26.753745  26.840259  26.082681  26.353912    -0.019231
2016-10-02  26.295458  26.508235  26.141137  26.433413     0.003017
2016-10-09  26.728026  26.786481  26.540971  26.669571     0.008934
2016-10-16  27.562762  27.630570  27.387397  27.504307     0.031299
2016-10-23  27.312578  27.335961  27.188653  27.263475    -0.008756
2016-10-30  26.625144  26.938463  26.526938  26.590071    -0.024700
2016-11-06  25.506829  25.911066  25.408121  25.579685    -0.037999
2016-11-13  25.175455  25.586742  25.041493  25.483332    -0.003767
2016-11-20  25.786505  25.979222  25.772404  25.866411     0.015033
2016-11-27  26.117886  26.291803  26.075582  26.273001     0.015719
2016-12-04  25.657247  25.873466  25.582041  25.828814    -0.016907
2016-12-11  26.395211  26.956911  26.395211  26.780645     0.036852
2016-12-18  27.372903  27.379953  27.180185  27.255392     0.017727
2016-12-25  27.166078  27.384647  27.166078  27.384647     0.004742
2017-01-01  27.415205  27.544465  27.128479  27.220137    -0.006007

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-10  22.657217  22.785964  22.245686  22.291666     0.000000
2016-01-17  22.116935  22.464093  21.923815  22.330748     0.001753
2016-01-24  22.675606  23.326240  22.615832  23.317043     0.044168
2016-01-31  21.792775  22.379034  21.691616  22.379034    -0.040228
2016-02-07  22.310923  22.403385  21.656761  21.733040    -0.028866
2016-02-14  21.772329  21.843986  21.499568  21.726097    -0.000319
2016-02-21  22.190718  22.366395  22.144488  22.199965     0.021811
2016-02-28  22.468101  22.657646  22.324787  22.401068     0.009059
2016-03-06  23.663170  23.982161  23.432016  23.811108     0.062945
2016-03-13  23.633119  23.642365  23.462066  23.637743    -0.007281
2016-03-20  24.580843  24.617828  24.315018  24.483759     0.035791
2016-03-27  24.379736  24.560036  24.245667  24.425966    -0.002360
2016-04-03  25.144861  25.426869  25.010792  25.424557     0.040882
2016-04-10  25.174911  25.373701  25.003856  25.117123    -0.012092
2016-04-17  25.914600  25.958520  25.364456  25.392193     0.010952
2016-04-24  24.273415  24.613211  24.183266  24.428288    -0.037961
2016-05-01  21.726104  21.894847  21.383998  21.668316    -0.112983
2016-05-08  21.714191  21.732795  21.360698  21.563026    -0.004859
2016-05-15  20.930465  21.318841  20.930465  21.051395    -0.023727
2016-05-22  22.009545  22.193268  21.981637  22.144430     0.051922
2016-05-29  23.125838  23.365375  23.081651  23.337467     0.053875
2016-06-05  22.742110  22.853739  22.663039  22.772343    -0.024215
2016-06-12  22.914204  23.104903  22.902577  22.983973     0.009293
2016-06-19  22.470019  22.476995  22.163039  22.170015    -0.035414
2016-06-26  21.607218  22.014199  21.546752  21.721172    -0.020245
2016-07-03  22.207221  22.435131  22.170012  22.300245     0.026659
2016-07-10  22.439780  22.532804  22.337454  22.483967     0.008239
2016-07-17  23.004906  23.093280  22.907231  22.972347     0.021721
2016-07-24  23.083977  23.093280  22.863043  22.944441    -0.001215
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.056254
2016-08-07  24.848109  25.170782  24.827066  25.131033     0.036966
2016-08-14  25.201180  25.355502  25.201180  25.294708     0.006513
2016-08-21  25.432661  25.647777  25.336795  25.570616     0.010908
2016-08-28  25.114664  25.240926  24.857460  25.004768    -0.022129
2016-09-04  25.182466  25.252612  24.976704  25.189482     0.007387
2016-09-11  24.466980  24.719507  24.113911  24.113911    -0.042699
2016-09-18  26.917416  27.153574  26.664890  26.870651     0.114322
2016-09-25  26.753745  26.840259  26.082681  26.353912    -0.019231
2016-10-02  26.295458  26.508235  26.141137  26.433413     0.003017
2016-10-09  26.728026  26.786481  26.540971  26.669571     0.008934
2016-10-16  27.562762  27.630570  27.387397  27.504307     0.031299
2016-10-23  27.312578  27.335961  27.188653  27.263475    -0.008756
2016-10-30  26.625144  26.938463  26.526938  26.590071    -0.024700
2016-11-06  25.506829  25.911066  25.408121  25.579685    -0.037999
2016-11-13  25.175455  25.586742  25.041493  25.483332    -0.003767
2016-11-20  25.786505  25.979222  25.772404  25.866411     0.015033
2016-11-27  26.117886  26.291803  26.075582  26.273001     0.015719
2016-12-04  25.657247  25.873466  25.582041  25.828814    -0.016907
2016-12-11  26.395211  26.956911  26.395211  26.780645     0.036852
2016-12-18  27.372903  27.379953  27.180185  27.255392     0.017727
2016-12-25  27.166078  27.384647  27.166078  27.384647     0.004742
2017-01-01  27.415205  27.544465  27.128479  27.220137    -0.006007

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [59]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s2,s1], axis = 1) # Asigna al DataFrame data_frame la concatenacion de las serie s2 y s1 en columnas (axis=1)
print(data_frame)

     GOOG    AAPL
0  898.70  143.50
1  911.71  144.09
2  906.69  142.73
3  918.59  144.18
4  926.99  143.77

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [62]:
sqrt_price = np.sqrt(aapl_bar.Close) # Asigna al DataFrame sqrt_price la raiz cuadrada de los registros del DataFrame aapl_bar
sqrt_price.name = 'sqrt_price' # Asigna el nombre del DataFrame sqrt_price
print(sqrt_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, sqrt_price], axis = 1) # Asigna, al DataFrame concat, la concatenacion de los DataFrames aapl_bnar y sqrt_price en columnas (axis=1)
print(concat)

Date
2016-01-10    4.721405
2016-01-17    4.725542
2016-01-24    4.828772
2016-01-31    4.730648
2016-02-07    4.661871
2016-02-14    4.661126
2016-02-21    4.711684
2016-02-28    4.732977
2016-03-06    4.879663
2016-03-13    4.861866
2016-03-20    4.948107
2016-03-27    4.942263
2016-04-03    5.042277
2016-04-10    5.011699
2016-04-17    5.039067
2016-04-24    4.942498
2016-05-01    4.654924
2016-05-08    4.643601
2016-05-15    4.588180
2016-05-22    4.705787
2016-05-29    4.830887
2016-06-05    4.772038
2016-06-12    4.794160
2016-06-19    4.708505
2016-06-26    4.660598
2016-07-03    4.722314
2016-07-10    4.741726
2016-07-17    4.792948
2016-07-24    4.790036
2016-07-31    4.922921
2016-08-07    5.013086
2016-08-14    5.029384
2016-08-21    5.056740
2016-08-28    5.000477
2016-09-04    5.018912
2016-09-11    4.910592
2016-09-18    5.183691
2016-09-25    5.133606
2016-10-02    5.141343
2016-10-09    5.164259
2016-10-16    5.244455
2016-10-23    5.221444
2016-10-30    5.156556
2016-11-06    5.057636
2016-11-13    5.048102
2016-11-20    5.085903
2016-11-27    5.125720
2016-12-04    5.082206
2016-12-11    5.175002
2016-12-18    5.220670
2016-12-25    5.233034
2017-01-01    5.217292
Freq: W-SUN, Name: sqrt_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  \
Date
2016-01-10  22.657217  22.785964  22.245686  22.291666          NaN
2016-01-17  22.116935  22.464093  21.923815  22.330748     0.001753
2016-01-24  22.675606  23.326240  22.615832  23.317043     0.044168
2016-01-31  21.792775  22.379034  21.691616  22.379034    -0.040228
2016-02-07  22.310923  22.403385  21.656761  21.733040    -0.028866
2016-02-14  21.772329  21.843986  21.499568  21.726097    -0.000319
2016-02-21  22.190718  22.366395  22.144488  22.199965     0.021811
2016-02-28  22.468101  22.657646  22.324787  22.401068     0.009059
2016-03-06  23.663170  23.982161  23.432016  23.811108     0.062945
2016-03-13  23.633119  23.642365  23.462066  23.637743    -0.007281
2016-03-20  24.580843  24.617828  24.315018  24.483759     0.035791
2016-03-27  24.379736  24.560036  24.245667  24.425966    -0.002360
2016-04-03  25.144861  25.426869  25.010792  25.424557     0.040882
2016-04-10  25.174911  25.373701  25.003856  25.117123    -0.012092
2016-04-17  25.914600  25.958520  25.364456  25.392193     0.010952
2016-04-24  24.273415  24.613211  24.183266  24.428288    -0.037961
2016-05-01  21.726104  21.894847  21.383998  21.668316    -0.112983
2016-05-08  21.714191  21.732795  21.360698  21.563026    -0.004859
2016-05-15  20.930465  21.318841  20.930465  21.051395    -0.023727
2016-05-22  22.009545  22.193268  21.981637  22.144430     0.051922
2016-05-29  23.125838  23.365375  23.081651  23.337467     0.053875
2016-06-05  22.742110  22.853739  22.663039  22.772343    -0.024215
2016-06-12  22.914204  23.104903  22.902577  22.983973     0.009293
2016-06-19  22.470019  22.476995  22.163039  22.170015    -0.035414
2016-06-26  21.607218  22.014199  21.546752  21.721172    -0.020245
2016-07-03  22.207221  22.435131  22.170012  22.300245     0.026659
2016-07-10  22.439780  22.532804  22.337454  22.483967     0.008239
2016-07-17  23.004906  23.093280  22.907231  22.972347     0.021721
2016-07-24  23.083977  23.093280  22.863043  22.944441    -0.001215
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.056254
2016-08-07  24.848109  25.170782  24.827066  25.131033     0.036966
2016-08-14  25.201180  25.355502  25.201180  25.294708     0.006513
2016-08-21  25.432661  25.647777  25.336795  25.570616     0.010908
2016-08-28  25.114664  25.240926  24.857460  25.004768    -0.022129
2016-09-04  25.182466  25.252612  24.976704  25.189482     0.007387
2016-09-11  24.466980  24.719507  24.113911  24.113911    -0.042699
2016-09-18  26.917416  27.153574  26.664890  26.870651     0.114322
2016-09-25  26.753745  26.840259  26.082681  26.353912    -0.019231
2016-10-02  26.295458  26.508235  26.141137  26.433413     0.003017
2016-10-09  26.728026  26.786481  26.540971  26.669571     0.008934
2016-10-16  27.562762  27.630570  27.387397  27.504307     0.031299
2016-10-23  27.312578  27.335961  27.188653  27.263475    -0.008756
2016-10-30  26.625144  26.938463  26.526938  26.590071    -0.024700
2016-11-06  25.506829  25.911066  25.408121  25.579685    -0.037999
2016-11-13  25.175455  25.586742  25.041493  25.483332    -0.003767
2016-11-20  25.786505  25.979222  25.772404  25.866411     0.015033
2016-11-27  26.117886  26.291803  26.075582  26.273001     0.015719
2016-12-04  25.657247  25.873466  25.582041  25.828814    -0.016907
2016-12-11  26.395211  26.956911  26.395211  26.780645     0.036852
2016-12-18  27.372903  27.379953  27.180185  27.255392     0.017727
2016-12-25  27.166078  27.384647  27.166078  27.384647     0.004742
2017-01-01  27.415205  27.544465  27.128479  27.220137    -0.006007

            sqrt_price
Date
2016-01-10    4.721405
2016-01-17    4.725542
2016-01-24    4.828772
2016-01-31    4.730648
2016-02-07    4.661871
2016-02-14    4.661126
2016-02-21    4.711684
2016-02-28    4.732977
2016-03-06    4.879663
2016-03-13    4.861866
2016-03-20    4.948107
2016-03-27    4.942263
2016-04-03    5.042277
2016-04-10    5.011699
2016-04-17    5.039067
2016-04-24    4.942498
2016-05-01    4.654924
2016-05-08    4.643601
2016-05-15    4.588180
2016-05-22    4.705787
2016-05-29    4.830887
2016-06-05    4.772038
2016-06-12    4.794160
2016-06-19    4.708505
2016-06-26    4.660598
2016-07-03    4.722314
2016-07-10    4.741726
2016-07-17    4.792948
2016-07-24    4.790036
2016-07-31    4.922921
2016-08-07    5.013086
2016-08-14    5.029384
2016-08-21    5.056740
2016-08-28    5.000477
2016-09-04    5.018912
2016-09-11    4.910592
2016-09-18    5.183691
2016-09-25    5.133606
2016-10-02    5.141343
2016-10-09    5.164259
2016-10-16    5.244455
2016-10-23    5.221444
2016-10-30    5.156556
2016-11-06    5.057636
2016-11-13    5.048102
2016-11-20    5.085903
2016-11-27    5.125720
2016-12-04    5.082206
2016-12-11    5.175002
2016-12-18    5.220670
2016-12-25    5.233034
2017-01-01    5.217292

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [63]:
df_volume = aapl_table.loc['2016-08':'2017-02',['Volume', 'Stock Splits']].resample('W').agg(lambda x: x[-1]) # Asigna, al DataFrame df_volume, los ultimos registros semanales de la tabla aapl_table en un intervalo de tiempo especifico
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-08':'2017-02',['Open', 'High', 'Low', 'Close']].resample('W').agg(lambda x: x[-1]) # Asigna, al DataFrame df_volume, los ultimos registros semanales de la tabla aapl_table en un intervalo de tiempo especifico
print(df_2017)

               Volume  Stock Splits
Date
2016-08-07  162213600             0
2016-08-14   74641600             0
2016-08-21  101472400             0
2016-08-28  111065200             0
2016-09-04  107210000             0
2016-09-11  186228000             0
2016-09-18  319547600             0
2016-09-25  209924800             0
2016-10-02  145516400             0
2016-10-09   97433600             0
2016-10-16  142608800             0
2016-10-23   92770800             0
2016-10-30  151446800             0
2016-11-06  123348000             0
2016-11-13  136575600             0
2016-11-20  113715600             0
2016-11-27   45903600             0
2016-12-04  106112000             0
2016-12-11  137610400             0
2016-12-18  177404400             0
2016-12-25   56998000             0
2017-01-01  122345200             0
2017-01-08  127007600             0
2017-01-15  104447600             0
2017-01-22  130391600             0
2017-01-29   82251600             0
2017-02-05   98029200             0
2017-02-12   80262000             0
2017-02-19   88792800             0
2017-02-26   87106400             0
2017-03-05   93931600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-08-07  24.848109  25.170782  24.827066  25.131033
2016-08-14  25.201180  25.355502  25.201180  25.294708
2016-08-21  25.432661  25.647777  25.336795  25.570616
2016-08-28  25.114664  25.240926  24.857460  25.004768
2016-09-04  25.182466  25.252612  24.976704  25.189482
2016-09-11  24.466980  24.719507  24.113911  24.113911
2016-09-18  26.917416  27.153574  26.664890  26.870651
2016-09-25  26.753745  26.840259  26.082681  26.353912
2016-10-02  26.295458  26.508235  26.141137  26.433413
2016-10-09  26.728026  26.786481  26.540971  26.669571
2016-10-16  27.562762  27.630570  27.387397  27.504307
2016-10-23  27.312578  27.335961  27.188653  27.263475
2016-10-30  26.625144  26.938463  26.526938  26.590071
2016-11-06  25.506829  25.911066  25.408121  25.579685
2016-11-13  25.175455  25.586742  25.041493  25.483332
2016-11-20  25.786505  25.979222  25.772404  25.866411
2016-11-27  26.117886  26.291803  26.075582  26.273001
2016-12-04  25.657247  25.873466  25.582041  25.828814
2016-12-11  26.395211  26.956911  26.395211  26.780645
2016-12-18  27.372903  27.379953  27.180185  27.255392
2016-12-25  27.166078  27.384647  27.166078  27.384647
2017-01-01  27.415205  27.544465  27.128479  27.220137
2017-01-08  27.445756  27.770086  27.372900  27.711330
2017-01-15  27.993350  28.113211  27.922843  27.976898
2017-01-22  28.308281  28.308281  28.139067  28.202522
2017-01-29  28.705467  28.754821  28.578555  28.660812
2017-02-05  30.155544  30.362364  30.120293  30.336512
2017-02-12  31.265862  31.379161  31.169085  31.185606
2017-02-19  31.889000  32.061308  31.889000  32.035343
2017-02-26  32.080195  32.257225  31.931489  32.257225
2017-03-05  32.356356  32.441331  32.266660  32.335114

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450761  22.768308  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773054  24.986412  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300094  26.441492  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [64]:
concat = pd.concat([aapl_bar, df_volume], axis = 1) # Asigna, al DataFrame concat, la concatenacion de los DataFrame aapl_bar y df_volume en columnas (axis=1)
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-10  22.657217  22.785964  22.245686  22.291666          NaN
2016-01-17  22.116935  22.464093  21.923815  22.330748     0.001753
2016-01-24  22.675606  23.326240  22.615832  23.317043     0.044168
2016-01-31  21.792775  22.379034  21.691616  22.379034    -0.040228
2016-02-07  22.310923  22.403385  21.656761  21.733040    -0.028866
...               ...        ...        ...        ...          ...
2017-02-05        NaN        NaN        NaN        NaN          NaN
2017-02-12        NaN        NaN        NaN        NaN          NaN
2017-02-19        NaN        NaN        NaN        NaN          NaN
2017-02-26        NaN        NaN        NaN        NaN          NaN
2017-03-05        NaN        NaN        NaN        NaN          NaN

                Volume  Stock Splits
Date
2016-01-10         NaN           NaN
2016-01-17         NaN           NaN
2016-01-24         NaN           NaN
2016-01-31         NaN           NaN
2016-02-07         NaN           NaN
...                ...           ...
2017-02-05  98029200.0           0.0
2017-02-12  80262000.0           0.0
2017-02-19  88792800.0           0.0
2017-02-26  87106400.0           0.0
2017-03-05  93931600.0           0.0

[61 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300094  26.441492  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [65]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner') # Asigna, al DataFrame concat, la concatenacion de los DataFrame aapl_bar y df_volume en columnas (axis=1) con la propiedad del inner join, que reduce la informacion innecesaria
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-08-07  24.848109  25.170782  24.827066  25.131033     0.036966
2016-08-14  25.201180  25.355502  25.201180  25.294708     0.006513
2016-08-21  25.432661  25.647777  25.336795  25.570616     0.010908
2016-08-28  25.114664  25.240926  24.857460  25.004768    -0.022129
2016-09-04  25.182466  25.252612  24.976704  25.189482     0.007387
2016-09-11  24.466980  24.719507  24.113911  24.113911    -0.042699
2016-09-18  26.917416  27.153574  26.664890  26.870651     0.114322
2016-09-25  26.753745  26.840259  26.082681  26.353912    -0.019231
2016-10-02  26.295458  26.508235  26.141137  26.433413     0.003017
2016-10-09  26.728026  26.786481  26.540971  26.669571     0.008934
2016-10-16  27.562762  27.630570  27.387397  27.504307     0.031299
2016-10-23  27.312578  27.335961  27.188653  27.263475    -0.008756
2016-10-30  26.625144  26.938463  26.526938  26.590071    -0.024700
2016-11-06  25.506829  25.911066  25.408121  25.579685    -0.037999
2016-11-13  25.175455  25.586742  25.041493  25.483332    -0.003767
2016-11-20  25.786505  25.979222  25.772404  25.866411     0.015033
2016-11-27  26.117886  26.291803  26.075582  26.273001     0.015719
2016-12-04  25.657247  25.873466  25.582041  25.828814    -0.016907
2016-12-11  26.395211  26.956911  26.395211  26.780645     0.036852
2016-12-18  27.372903  27.379953  27.180185  27.255392     0.017727
2016-12-25  27.166078  27.384647  27.166078  27.384647     0.004742
2017-01-01  27.415205  27.544465  27.128479  27.220137    -0.006007

               Volume  Stock Splits
Date
2016-08-07  162213600             0
2016-08-14   74641600             0
2016-08-21  101472400             0
2016-08-28  111065200             0
2016-09-04  107210000             0
2016-09-11  186228000             0
2016-09-18  319547600             0
2016-09-25  209924800             0
2016-10-02  145516400             0
2016-10-09   97433600             0
2016-10-16  142608800             0
2016-10-23   92770800             0
2016-10-30  151446800             0
2016-11-06  123348000             0
2016-11-13  136575600             0
2016-11-20  113715600             0
2016-11-27   45903600             0
2016-12-04  106112000             0
2016-12-11  137610400             0
2016-12-18  177404400             0
2016-12-25   56998000             0
2017-01-01  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [66]:
append = aapl_bar.append(df_2017) # Asigna, al DataFrame append, la adicion del DataFrame df_2017 en el DataFrame aapl_bar 
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-10  22.657217  22.785964  22.245686  22.291666          NaN
2016-01-17  22.116935  22.464093  21.923815  22.330748     0.001753
2016-01-24  22.675606  23.326240  22.615832  23.317043     0.044168
2016-01-31  21.792775  22.379034  21.691616  22.379034    -0.040228
2016-02-07  22.310923  22.403385  21.656761  21.733040    -0.028866
...               ...        ...        ...        ...          ...
2017-02-05  30.155544  30.362364  30.120293  30.336512          NaN
2017-02-12  31.265862  31.379161  31.169085  31.185606          NaN
2017-02-19  31.889000  32.061308  31.889000  32.035343          NaN
2017-02-26  32.080195  32.257225  31.931489  32.257225          NaN
2017-03-05  32.356356  32.441331  32.266660  32.335114          NaN

[83 rows x 5 columns]

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [67]:
concat = pd.concat([aapl_bar, df_2017], axis = 0) # Asigna, al DataFrame concat, la concatenacion de los DataFrame aapl_bar y df_2017 en el index (axis=0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-10  22.657217  22.785964  22.245686  22.291666          NaN
2016-01-17  22.116935  22.464093  21.923815  22.330748     0.001753
2016-01-24  22.675606  23.326240  22.615832  23.317043     0.044168
2016-01-31  21.792775  22.379034  21.691616  22.379034    -0.040228
2016-02-07  22.310923  22.403385  21.656761  21.733040    -0.028866
...               ...        ...        ...        ...          ...
2017-02-05  30.155544  30.362364  30.120293  30.336512          NaN
2017-02-12  31.265862  31.379161  31.169085  31.185606          NaN
2017-02-19  31.889000  32.061308  31.889000  32.035343          NaN
2017-02-26  32.080195  32.257225  31.931489  32.257225          NaN
2017-03-05  32.356356  32.441331  32.266660  32.335114          NaN

[83 rows x 5 columns]

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441492  25.986660  26.045576          NaN  26.300094
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607243  28.425783  28.597816          NaN  28.550684
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [68]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0) # Asigna, al DataFrame concat, la concatenacion de los DataFrame aapl_bar y df_2017 en el index (axis=0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-10  22.657217  22.785964  22.245686  22.291666          NaN        NaN
2016-01-17  22.116935  22.464093  21.923815  22.330748     0.001753        NaN
2016-01-24  22.675606  23.326240  22.615832  23.317043     0.044168        NaN
2016-01-31  21.792775  22.379034  21.691616  22.379034    -0.040228        NaN
2016-02-07  22.310923  22.403385  21.656761  21.733040    -0.028866        NaN
...               ...        ...        ...        ...          ...        ...
2017-02-05        NaN  30.362364  30.120293  30.336512          NaN  30.155544
2017-02-12        NaN  31.379161  31.169085  31.185606          NaN  31.265862
2017-02-19        NaN  32.061308  31.889000  32.035343          NaN  31.889000
2017-02-26        NaN  32.257225  31.931489  32.257225          NaN  32.080195
2017-03-05        NaN  32.441331  32.266660  32.335114          NaN  32.356356

[83 rows x 6 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.